:root {
    --black-bkg: #222222;
    --pink-bkg: #F1E4E6;
    --pink-color: #F16D7F;
    --sales-bkg: #4e4544;
    --text-color: #FFFFFF;
    --gray-text-color: #9F9F9F;
    --card-bgk: #F8F8F8;
    --card-text: #5D5D5D;
    --placeholder: #B1B1B1;
    --nav-text: #6F6E6E;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-style: normal;
    font-weight: 400;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background-color: var(--black-bkg);
}

.header__wrp {
    display: flex;
    align-items: center;
    min-height: 75px;
    justify-content: space-between;
    position: relative;
}

.header__logo-img {
    margin: 0 41px 0 0;
}

.header__nav {
    position: absolute;
    display: none;
    top: 100%;
    left: 100%;
    z-index: 1;
    min-width: 300px;
    height: 1000px;
    background-color: var(--text-color);
    padding-left: 33px;
    padding-top: 37px;
}

.header__nav__close-icon {
    position: absolute;
    transform: translateX(250px);
    top: 20px;
}

.header__nav__list__chapter__list {
    padding-bottom: 20px;
}

.header__nav__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.header__nav__list__chapter__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--pink-color);
}

.header__nav__list__chapter__list__item {
    margin-left: 21px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: var(--nav-text);
    padding-top: 12px;
}

.nav-item__item:hover,
.nav-item__item:focus {
    color: var(--pink-color);
    cursor: pointer;
}

.header__menu-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 170px;
    margin-left: 33px;
}

.header__logo__search {
    border: none;
    background-color: transparent;
    position: relative;
}

.header__logo__search-img:hover,
.header__logo__search-img:focus {
    fill: var(--pink-color);
    cursor: pointer;
}

.header__menu__burger {
    border: none;
    background-color: transparent;
}

.header__menu__burger:hover+.header__nav,
.header__menu__burger:focus+.header__nav {
    display: block;
}

.button__burger:hover,
.button__burger:focus {
    fill: var(--pink-color);
    cursor: pointer;
}

.header__person {
    border: none;
    background-color: transparent;
}

.button__person:hover,
.button__person:focus {
    fill: var(--pink-color);
    cursor: pointer;
}

.header__basket {
    border: none;
    background-color: transparent;
}

.button__basket:hover,
.button__basket:focus {
    fill: var(--pink-color);
    cursor: pointer;
}

.brand {
    display: flex;
}

.brand__title-wrp {
    flex-grow: 1;
    background-color: var(--pink-bkg);
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
    position: relative;
}

.brand__img {
    height: 765px;
    width: 800px;
}

.img__decoration-brand {
    position: relative;
    left: -16px;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__title-lower {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
    display: block;
}

.brand__title-pink {
    color: var(--pink-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    width: 360px;
    background-color: var(--sales-bkg);
}

.sales__item--women {
    background-image: url(../Img/women-sales.jpg);
    min-height: 260px;
}

.sales__item--man {
    background-image: url(../Img/men-sales.jpg);
    min-height: 260px;
}

.sales__item--kids {
    background-image: url(../Img/kids-sales.jpg);
    min-height: 260px;
}

.sales__item--shoes {
    background-image: url(../Img/shoes-sales.jpg);
    width: 100%;
    min-height: 180px;
}

.products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__item {
    height: 582px;
    width: 360px;
}

.sales__wrp {
    padding: 63px;
}

.sales__item--shoes {
    margin-top: 30px;
    height: 180px;
}

.sales__item-title {
    text-align: center;
    color: var(--pink-color);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-transform: uppercase;
}

.sales__item-text {
    padding-top: 105px;
    text-align: center;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
}

.sales__item-text-shoes {
    padding-top: 65px;
    text-align: center;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
}

.products__wrp {
    padding: 34px;
}

.products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.products__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.products__sub-title {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 48px;
    text-align: center;
    color: var(--gray-text-color);
}

.products__item {
    background-color: var(--card-bgk);
    margin-bottom: 30px;
    position: relative;
}

.products__item-title {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    padding: 25px 0px 13px 18px;
    text-transform: uppercase;
}

.products__item-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    padding: 0px 19px 13px 18px;
    color: var(--card-text);
}

.products__item-price {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    padding: 0px 0px 0px 18px;
    color: var(--pink-color);
}

.product__overlay {
    width: 100%;
    min-height: 420px;
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
}

.products__button-wrp {
    position: absolute;
    top: 35%;
    left: 50%;
    height: 35px;
    width: 120px;
    border: white solid;
    transform: translate(-50%, -50%);
    padding-left: 13px;
    padding-right: 13px;
    padding-top: 11px;
    cursor: pointer;
}

.button__wrp {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.products__button {
    min-height: 48px;
    min-width: 212px;
    border: #FF6A6A solid;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: #F26376;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 60px;
}

.products__button:hover {
    background-color: #FF6A6A;
    color: var(--text-color);
}

.products__button-wrp,
.product__overlay {
    display: none;
}

.products__item:hover .product__overlay,
.products__item:hover .products__button-wrp {
    display: block;
}

.img__product-button {
    color: white;
}

.button__product-overlay {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    color: white;
    position: absolute;
    top: 30%;
    left: 40%;
}

.advantages {
    background-color: var(--black-bkg);
}

.advantages__list {
    display: flex;
    align-items: center;
    min-height: 341px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.advantages__item-title {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: var(--text-color);
    padding: 28px 0px 18px 0px;
}

.advantages__item-text {
    width: 340px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.advantages__item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    min-width: 360px;
    flex-direction: column;
}

.advantages__item-delivery-icon {
    padding-top: 10px;
}

.subscribe {
    width: 100%;
    min-height: 448px;
    background-color: var(--gray-text-color);
    background-image: url(../Img/subscribe-bkg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;

}

.subscribe__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.quote {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 97px;
}

.avatar__quote {
    height: 96px;
    width: 96px;
    margin-bottom: 30px;
}

.quote__text {
    width: 360px;
    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.qoute__text-italic {
    font-style: italic;
}

.form__subscribe-heading {
    text-align: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 19px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 150px;
}

.form__subscribe-text {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 19px;
    font-weight: normal;
    margin-bottom: 32px;
    text-transform: uppercase;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
    padding-right: 223px;
    padding-left: 230px;
    background-color: var(--black-bkg);
}

.footer__social-icons {
    display: flex;
    flex-direction: row;
}

.footer__rights {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    color: var(--card-bgk);
}

.footer__social-icons {
    padding-top: 16px;
    padding-bottom: 16px;
}

.icon {
    padding: 7px;
}

.instagram {
    background-color: white;
}

.icon:hover {
    cursor: pointer;
}

.button__basket {
    position: relative;
}

.basket__value {
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: var(--pink-color);
    cursor: pointer;
}

.registration__heading {
    min-height: 148px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #F8F3F4;
    padding-left: 230px;
}

.registration_heading-title {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
    color: var(--pink-color);
}

.registration__data {
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-left: 230px;
    padding-right: 230px;
    padding-bottom: 96px;
}

.loyalty__list-item {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    padding-bottom: 17px;
}

.loyalty__heading {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    text-transform: uppercase;
}

.loyalty__description-text {
    font-size: 24px;
    font-weight: 400;
    line-height: 29px;
    padding-top: 22px;
    padding-bottom: 22px;
}

.loyalty__description {
    width: 650px;
}

.registration__form {
    width: 360px;
}

.registration__button {
    min-height: 50px;
    min-width: 167px;
    border: #FF6A6A solid;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    color: var(--text-color);
    background-color: var(--pink-color);
    margin-top: 20px;
    margin-bottom: 60px;
}

.form__explanations {
    margin-top: 15px;
    margin-bottom: 40px;
    color: #B1B1B1;
}

.email {
    height: 45px;
    width: 100%;
    border: #A4A4A4 solid;
    margin-bottom: 20px;
    padding-left: 17px;
}

.password {
    height: 45px;
    width: 100%;
    border: #A4A4A4 solid;
    padding-left: 17px;
}

.login__heading {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding-bottom: 20px;
    padding-top: 33px;
}

.first__name {
    height: 45px;
    width: 100%;
    border: #A4A4A4 solid;
    margin-bottom: 20px;
    padding-left: 17px;
}

.last__name {
    height: 45px;
    width: 100%;
    border: #A4A4A4 solid;
    margin-bottom: 20px;
    padding-left: 17px;
}

.names__heading {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding-bottom: 20px;
}

.subscribe__button {
    min-height: 50px;
    min-width: 100px;
    border: none;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    color: var(--text-color);
    background-color: var(--pink-color);
    margin-top: 20px;
    margin-bottom: 60px;
    border-radius: 0pc 30pc 30pc 0pc;
}

.subscribe__input {
    height: 50px;
    width: 220px;
    border: #A4A4A4 solid;
    margin-bottom: 20px;
    border: none;
    background-color: #E1E1E1;
    border-radius: 30pc 0pc 0pc 30pc;
    padding-left: 20px;
}

[type="text"] {
    color: #B1B1B1;
}