$black-bkg: #222222;
$pink-bkg: #F1E4E6;
$pink-color: #F16D7F;
$sales-bkg: #4e4544;
$text-color: #FFFFFF;
$gray-text-color: #9F9F9F;
$card-bgk: #F8F8F8;
$card-text: #5D5D5D;
$placeholder: #B1B1B1;
$nav-text: #6F6E6E;