.loyalty__list-item {
    @include font(24px, 400, 29px);
    padding-bottom: 17px;
}

.loyalty__heading {
    @include font(24px, 400, 29px);
    text-transform: uppercase;
}

.loyalty__description-text {
    @include font(24px, 400, 29px);
    padding-top: 22px;
    padding-bottom: 22px;
}

.loyalty__description {
    width: 650px;
}